<head>
    <title>checq.me - Grades</title>
</head>

<body>
    <div class="wrapper">

        <%- include("./partials/navigation", { active: "dashboard" })%>

        <main>
            <h1>Student name: <%= model.grades.user_name %> <%=model.grades.user_surname%></h1>
            <h2>Classroom: <%= model.grades.name%></h2>
            <%  for (let b = 0 ; b < model.grades.mastery_grades.length ; b++) { 
            let mastery = model.grades.mastery_grades[b];%>
                <h3>- Mastery Check: <%=mastery.mastery_name %></h3>
            
                <% let i = 0;
                mastery.topic.forEach( attempt => {%>
                    <h4>Attempt n. <%= ++i %></h4>

                    <% for (const attempt_key in attempt.topic_grades) { %>
                        <p><%= attempt_key%>:
                <%= attempt.topic_grades[attempt_key] == 0 ? "Exceed" : attempt.topic_grades[attempt_key] == 1 ? "Pass" : "Fail"%>
                        </p>
                    <%}%>
               
            <%}) %>
            <h3>Final Grade: <% let grade = mastery.topic[mastery.topic.length-1].final_grade%>
                             <%= grade == 0 ? "Exceed" : (grade == 1 ? "Pass" : "Fail") %>    
                             
            </h3>

            
            <hr size="8" width="90%" color="red">
        <%}%>
        </main>
    </div>
</body>


