<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i>  Register
      </h1>

      <%- include ("./partials/messages") %>

      <form action="/user/signup" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input required type="text" id="name" name="name" class="form-control" placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>

        <div class="form-group">
          <label for="surname">Surname</label>
          <input required type="text" id="surname" name="surname" class="form-control" placeholder="Enter Surname"
            value="<%= typeof surname != 'undefined' ? surname : '' %>" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input required type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input required type="password" id="password" name="password" class="form-control"
            placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>

        <div class="form-group">
          <label for="conf_password">Confirm Password</label>
          <input required type="password" id="conf_password" name="conf_password" class="form-control"
            placeholder="Confirm Password" value="<%= typeof conf_password != 'undefined' ? conf_password : '' %>" />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>

      <p class="lead mt-4">Have An Account? <a href="/user/login">Login</a></p>
    </div>
  </div>
</div>