<link rel="stylesheet" href="/stylesheets/css/flash.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

<div class="wrapper">
  <%- include("../partials/navigation", {active: 'manager'}) %>

  <% if (classrooms.length > 0) { %>
    <table id="classroom-table">
      <thead>
        <!-- Table Header -->
      
        <tr>
            <td class="class-color-header"></td>
            <td class="small gray"> Name </td>
            <td class="small gray"> Teaching Assistants </td>
            <td class=""></td>
            <td class=""></td>
        </tr>
      </thead>
  
      <tbody>
        <!-- Table Body -->
  
        <% classrooms.forEach((classroom, index) => { %>
          <tr>
            <td class="class-color" style="background-color: #<%= classroom.color %>"></div>
  
            <td class="normal class-name"> <%= classroom.name %> </td>
  
            <% if (classroom.teaching_assistants.length > 0) { %>
              <td>
              <% for (let i = 0; i < classroom.teaching_assistants.length; i++) { %>
                  <p class="normal"> <%= classroom.teaching_assistants[i].name %> <%= classroom.teaching_assistants[i].surname %> </p>
              <% } %>
                </td>
            <% } else { %>
              <td>
              <p class="normal"> N.D. </p>
              </td>
            <% } %>

            <td>
              <span class="btn-with-icn" style="cursor: pointer;" onclick="generate_invite_link('<%= classroom._id %>')">
                <img src="/assets/icons/misc/clip.svg" alt="generate invite link">
                <p class="bold">Invite Link</p>
              </span>
            </td>
  
            <td class="class-detail-td">
                <a href="/manager/classroom?id=<%= classroom._id %>">
                  <span class="circle" style="background-color: #<%= classroom.color %>">
                      <img src="/assets/icons/misc/chevron-right.svg" alt="chevron-right"></img>
                  </span>
                </a>
            </td>
          </tr>
        <% }); %>

        <tr class="add-class">
          <td class="class-color"></td>

          <td>
            <span class="btn-with-icn" style="cursor: pointer;" onclick="toggle_show_form()" id="show_or_back">
              <img src="/assets/icons/buttons/add.svg" alt="generate invite link">
              <p class="bold">Add new class</p>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %> 
    <span id="no-classrooms">
        <img src="/assets/icons/misc/no_classroom.svg" alt="">
    </span>  
  <% } %>

  <section id="form" class="hidden"></section>
</div>

<script src="/js/flash.min.js"></script>
<script src="js/ajax_manager.js"></script>
<script src="/js/ejs.min.js"></script>
<script src="/js/views.js"></script>
<script>
  window.onload = init;
</script>