<body onload="init()">
    <div class="container">
        <a href="/manager" class="badge badge-primary">Back to Manager</a>

        <div class="container mt-3">
            <h3>Mastery Check List</h3>
            <% result.forEach(element => { %>
            <div class="card mt-5">
                <div style="display:flex;align-items: center;justify-content: space-between;" class="card-header">
                    <span>Mastery Check</span> <button style="float: right;" type="button"
                        class="btn btn-primary delete_btn">Delete</button>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= element.name %></h5>
                    <small id="id_container" data-id="<%= element._id%>">Id: <%= element._id%></small>
                    <p class="card-text"><%= element.description %></p>
                    <p class="card-text"><%= element.available  ? "Available" : "Not Available" %></p>
                </div>
            </div>
            <% }); %>
        </div>


        <div class="container mt-5">
            <h1>Mastery Check Manager</h1>
            <form id="create_form" action="/manager/mastery" method="POST">
                <div class="form-group">
                    <label for="input_name">Mastery Check name</label>
                    <input required type="text" name="input_name" class="form-control" id="input_name">
                </div>
                <div class="form-group">
                    <label for="input_description">Mastery Check description</label>
                    <input required type="text" name="input_description" class="form-control" id="input_description">
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="check_available" type="checkbox" id="check_available">
                    <label class="form-check-label" for="check_available">
                        Available
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Create Mastery Check</button>
            </form>
        </div>
    </div>
    <script src="/js/ajax_mastery.js"></script>
</body>