<% collection.forEach((n)=>{ %>
    <div id="<%= n._id%>">
        
        <h3>Class: <%= n.name%></h3>
        <h4>Description: <%= n.description %></h4>
        <h4>Topics:</h4>

        <% n.topics.forEach( (t) => { %>
        <h5>- <%=t.name%>: <%= t.description%> <a href="./manager/classroom/topic/<%=t._id%>">view</a></h5>
        <%}) %> 

        <button class="new_topic_button" value="<%= n._id%>">Add new topic</button>
        <hr>
    </div>
<% }); %>