<% collection.forEach((n)=>{ %>
    <div id="<%= n._id%>">
        
        <h3>Class: <%= n.name%></h3>
        <h4>Description: <%= n.description %></h4>
        <h4>Topics:</h4>

        <% n.topics.forEach( (t) => { %>
        <h5>- <%=t.name%>: <%= t.description%> <button class="view_topic_button" value="<%=t._id%>">view</button></h5>
        <%}) %> 

        <button class="new_topic_button" value="<%= n._id%>">Add new topic</button>
        <hr>
    </div>
<% }); %>