<div class="container mt-3">
    <h3>Mastery Check List</h3>
    <% result.forEach(element => { %>
    <div class="card mt-5">
        <div style="display:flex;align-items: center;justify-content: space-between;" class="card-header">
            <span>Mastery Check</span> <button style="float: right;" type="button"
                class="btn btn-primary delete_btn">Delete</button>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= element.name %></h5>
            <small id="id_container" data-id="<%= element._id%>">Id: <%= element._id%></small>
            <p class="card-text"><%= element.description %></p>
            <p class="card-text"><%= element.available  ? "Available" : "Not Available" %></p>
        </div>
    </div>
    <% }); %>
</div>