<div>
    <h3>Select your new TA:</h3>
    <form id="ta_form">
        <select name="partecipants" id="partecipants_list">
            <% partecipants.forEach(p => { %>
                <option id="<%=p.role %>" value="<%=p._id%>"><%= p.name%> <%= p.surname%> <%=p.role == 1 ? "(TA)" : ((p.role == 0) ? "(Prof)" : "(Stu)") %></option>
            <% }); %>        
        </select>
        <label id="selected_user">Select a user:</label>
    </form>
</div>